
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
  font-family: verdana;
}

table
{
	border-collapse: collapse;
	font-size: 12px;
}

table td
{
	border: solid 1px gray;	
	border-collapse: collapse;
}

table { border: solid 0px gray; }
td { border: solid 0x gray; }

table.Auctions
{
	margin: 1em;
	border-collapse: collapse;
	border: 0px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

table.Auctions td
{
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-left: 0px;
	border-right: 0px;
	padding-right: 0.8em;
}

table.Auctions td.P { text-align: right; } 
table.Auctions td.H4 { text-align: center; } 

table.Auctions td.R { border-right: solid 1px gray; } 

table.Auctions td.H1    {  	width: 19em;   }
table.Auctions td.H2    {  	width: 2em;   }
table.Auctions td.H3    {  	width: 3.5em;   }
table.Auctions td.H4    {  	width: 3.5em;   }
table.Auctions td.H5    {  	width: 9em;   }

img.warning
{
	width: 25px;
	height: 25px;
}

tr.header
{
	background-color: #C0C0C0;
}

tr.alt
{
	background-color: #C6F1F2;
}

table.Users
{
	margin: 1em;
	border-collapse: collapse;
	border: 0px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

table.Users td
{
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	border-left: 0px;
	border-right: 0px;
	padding-right: 0.8em;
	height: 1.5em;
}

table.Users td.alt
{
	background-color: #FFE0F7;
}

table.Users td.H1    {  	width: 15em;   }
table.Users td.H2    {  	width: 3.5em;   }
table.Users td.H3    {  	width: 3.5em;   }